@model IEnumerable<dynamic>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total time in month (hours)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="@(item.TotalHoursWorked<100 ? "background-color : #f2ac9d;" : ""))">
                <td>@item.EmployeeName</td>
                <td>@item.TotalHoursWorked</td>
            </tr>
        }
    </tbody>
</table>
@{
    var imagePath = Url.Content("~/images/employee_chart.png");
}

<img src="@imagePath" alt="Employee Chart"   />